<!DOCTYPE html>
<html>
  <head>
    <title>MobProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%
=begin%>
 <%= render "shared/navigation" %>
    <%= render "shared/flash" %> 
<%
=end%>
  <% if user_signed_in? %>
    <div id="app"></div>
  <% else %>
    <div class="header">
      <%= image_tag "likha-logo.png", id: 'likha-logo' %>
      <h1 id="title"> Leave Management System</h1>      
    </div>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>
  </body>
</html>
